/*** ALL DEVICES' VARIABLES ***/

/* Typography */
$site-font-family: 'lucida grande';
$font-weight-bold: bold;
$font-weight-500: 500;
$font-weight-normal: normal;

/* Color Schemes */
$text-color: #FFFFFF;
$bg-color: rgb(124, 197, 193);
$logo-text-color: rgba(255,255,255, 0.9);

/* Media Queries */
$mobile-max-width: 800px;