/* IMPORTS */

@import "_variables.scss";
@import "_mixins.scss";

/* GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    border: $border;

    /* LOGIN PAGE */
    .main__login--containter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $bg-color;
        z-index: 1;
        padding: 8rem;
        
        .main__login--logo-and-form-containers {
            @include displyFlexColumnCenter();
            width: 100vw;
            height: 100vh;

             /* HEADER SECTION */
            .main__login--logo-container {
                @include displyFlexColumnCenter();
                width: 100vw;
                height: 10vh;

                .main__login--logo-text {
                    color: $logo-text-color;
                    font-family: $site-font-family;
                    border-bottom: 1px solid #FFF;
                }
                .main__login--logo-text-handle {
                    font-size: 0.8rem;
                    color: $text-color;
                }
            }

            .main__login--form-container {
                @include displyFlexColumnCenter();
                width: 100vw;
                height: 90vh;

                @media(max-width: $mobile-max-width) {
                    height: 60vh;
                }
                
                .main__login--slogan {
                    font-family: $site-font-family;
                    font-size: 1rem;
                    font-style: italic;
                    color: $text-color;
                    text-align: center;
                    padding: 2%;
                    

                    @media(max-width: $mobile-max-width) {
                        padding: 5%;
                    }
                }

                .main__login--form {
                    display: flex;
                    flex-direction: column;
                    
                    button[type="submit"] {
                        border: 2px solid #FFF;
                        margin-top: 4%;
                        height: 4vh;
                        background-color: rgb(146, 218, 214);
                        text-align: center;
                        color: rgba(255,255,255, 1);
                        font-size: 1.2rem;
                        &:focus{
                            outline:0;
                            color: rgba(255,255,255, 0.9);
                        }
                    }

                    input::placeholder {
                        color: rgba(255,255,255, 0.9);
                    }

                    input {
                        border: 2px solid #FFF;
                        max-width: 25vw;
                        height: 8vh;
                        background-color: $bg-color;
                        text-align: center;
                        font-size: 1.2rem;
                        &:focus {
                            outline:0;
                            color: rgba(255,255,255, 0.9);
                            @include placeholderTextDisappear();
                        }
                        
                        @media(max-width: $mobile-max-width) {
                            max-width: 60vw;
                            input:focus {
                                outline:0;
                                color: rgba(255,255,255, 0.6);
                            }
                        }
                    }

                }

            }

        }   
    }

    /* MAIN CHAT ROOM */
    
    .main__chatbox--container {
        width: 100%;
        height: 90%;

        /* HEADER SECTION */
        .main__login--logo-container {
            @include displyFlexColumnCenter();
            width: 100%;
            height: 10%;

            @media(max-width: $mobile-max-width) {
                height: 15%;
            }
            
            .main__login--logo-text {
                color: $text-color-chatroom-headings;
                font-family: $site-font-family;
                border-bottom: $border;
            }
            .main__login--logo-text-handle {
                font-size: 0.8rem;
                color: $text-color-chatroom-headings;
            }
        }

        .main__users {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 90%;
            border-bottom: $border-chatroom;
            padding-top: 2%;

            @media(max-width: $mobile-max-width) {
                height: 80%;
                padding-top:5%;
            }

            /* CURRENTLY ONLINE USERS */
            .main__users-online-section {
                width: 25%;
                border-right: $border-chatroom;

                @media(max-width: $mobile-max-width) {
                   width: 40%;
                }

                .main__users-heading {
                    font-size: 0.9rem;
                    padding-bottom: 5%;
                    color: $text-color-chatroom-headings;

                    @media(max-width: $mobile-max-width) {
                        font-size: 0.7rem;
                    }

                    span {
                        padding-left: 10%;

                        @media(max-width: $mobile-max-width) {
                            padding-left: 4%;
                        }
                    }
                }
                .main__users--currently-online {
                    
                    .main__users--usernames {
                        font-size: 0.9rem;
                        padding: 3% 0;
                        border-bottom: $border-with-opacity;

                        span {
                            padding-left: 10%;
                            font-size: 1.2rem;

                            @media(max-width: $mobile-max-width) {
                                font-size: 1.2rem;
                                padding-left: 4%;
                            }
                        }
                    }
                }
            }
            
            /* PUBLIC CHAT ROOM */
            .main__users-chatroom {
                width: 80%;
                overflow: scroll;
                overflow-x: hidden;

                @media(max-width: $mobile-max-width) {
                    width: 60%;
                 }

                .main__users-chatroom-heading {
                    font-size: 0.9rem;
                    padding-bottom: 2%;
                    color: $text-color-chatroom-headings;

                    @media(max-width: $mobile-max-width) {
                        font-size: 0.7rem;
                    }

                    span {
                        padding-left: 2%;

                        @media(max-width: $mobile-max-width) {
                            padding-left: 4%;
                        }
                    }
                }

                .main__users-chatroom-participant {

                    .main-area__user-name {
                        font-size: 1.2rem;

                        @media(max-width: $mobile-max-width) {
                            font-size: 1.2rem;
                            padding: 4% 0 4% 2%;
                        }
                    }
                    .main-area__user-message{
                        font-size: 1.2rem;
                        font-weight: lighter;

                        @media(max-width: $mobile-max-width) {
                            font-size: 1.2rem;
                            padding: 0 0 4% 2%;
                        }
                    }
                }

                .white {
                    padding-left: 2%;
                }

                .teal {
                    background-color: $bg-color-participants-msg;
                    padding-left: 2%;
                }
            }       
        }

    }
    
    .main__chatbar--container {
        width: 100%;
        height: 10%;
        // background-color: #c1bc2533;

        .main__chatbar-form {
            width: 100%;
            height: 50%;

            .main__chatbar--form-input {
                width: 100%;
                padding-left: 1%;
                font-size: 1.2rem;
            }
            .main__chatbar--form-msg-submit {
                width: 100%;
            }

            input::placeholder {
                color: $place-holder-color;
                font-size: 1.2rem;
            }

            input {
                max-width: 100%;
                height: 100%;
                text-align: left;
                border: none;
                &:focus {
                    outline:0;
                    color: #000;
                    @include placeholderTextDisappear();
                }    
            }

            button[type="submit"] {
                display: none;
            }
        }
    }
   
}

