/* IMPORTS */
/*** ALL DEVICES' VARIABLES ***/
/* Typography */
/* Color Schemes */
/* Media Queries */
/* Flexbox */
/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  border: 1px solid #7cc5c1;
  /* LOGIN PAGE */
  /* MAIN CHAT ROOM */
}

.main .main__login--containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #7cc5c1;
  z-index: 1;
  padding: 8rem;
}

.main .main__login--containter .main__login--logo-and-form-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  /* HEADER SECTION */
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 10vh;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--logo-container .main__login--logo-text {
  color: rgba(255, 255, 255, 0.9);
  font-family: "lucida grande";
  border-bottom: 1px solid #FFF;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--logo-container .main__login--logo-text-handle {
  font-size: 0.8rem;
  color: #FFFFFF;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 90vh;
}

@media (max-width: 800px) {
  .main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container {
    height: 60vh;
  }
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--slogan {
  font-family: "lucida grande";
  font-size: 1rem;
  font-style: italic;
  color: #FFFFFF;
  text-align: center;
  padding: 2%;
}

@media (max-width: 800px) {
  .main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--slogan {
    padding: 5%;
  }
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form button[type="submit"] {
  border: none;
  margin-top: 4%;
  height: 8vh;
  background-color: #92dad6;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form button[type="submit"]:focus {
  outline: 0;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input {
  border: 2px solid #FFF;
  max-width: 25vw;
  height: 8vh;
  background-color: #7cc5c1;
  text-align: center;
  font-size: 1.2rem;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input:focus {
  outline: 0;
  color: rgba(255, 255, 255, 0.9);
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input:focus::-moz-input-placeholder {
  opacity: 0;
}

@media (max-width: 800px) {
  .main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input {
    max-width: 60vw;
  }
  .main .main__login--containter .main__login--logo-and-form-containers .main__login--form-container .main__login--form input input:focus {
    outline: 0;
    color: rgba(255, 255, 255, 0.6);
  }
}

.main .main__chatbox--container {
  width: 100%;
  height: 90%;
  /* HEADER SECTION */
}

.main .main__chatbox--container .main__login--logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__login--logo-container {
    height: 15%;
  }
}

.main .main__chatbox--container .main__login--logo-container .main__login--logo-text {
  color: #7cc5c1;
  font-family: "lucida grande";
  border-bottom: 1px solid #7cc5c1;
}

.main .main__chatbox--container .main__login--logo-container .main__login--logo-text-handle {
  font-size: 0.8rem;
  color: #7cc5c1;
}

.main .main__chatbox--container .main__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90%;
  border-bottom: 1px solid #7cc5c1;
  padding-top: 2%;
  /* CURRENTLY ONLINE USERS */
  /* PUBLIC CHAT ROOM */
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users {
    height: 80%;
    padding-top: 5%;
  }
}

.main .main__chatbox--container .main__users .main__users-online-section {
  width: 25%;
  border-right: 1px solid #7cc5c1;
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-online-section {
    width: 40%;
  }
}

.main .main__chatbox--container .main__users .main__users-online-section .main__users-heading {
  font-size: 0.9rem;
  padding-bottom: 5%;
  color: #7cc5c1;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-online-section .main__users-heading {
    font-size: 0.7rem;
  }
}

.main .main__chatbox--container .main__users .main__users-online-section .main__users-heading span {
  padding-left: 10%;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-online-section .main__users-heading span {
    padding-left: 4%;
  }
}

.main .main__chatbox--container .main__users .main__users-online-section .main__users--currently-online .main__users--usernames {
  font-size: 0.9rem;
  padding: 3% 0;
  border-bottom: 1px solid rgba(124, 197, 193, 0.5);
}

.main .main__chatbox--container .main__users .main__users-online-section .main__users--currently-online .main__users--usernames span {
  padding-left: 10%;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-online-section .main__users--currently-online .main__users--usernames span {
    font-size: 1.2rem;
    padding-left: 4%;
  }
}

.main .main__chatbox--container .main__users .main__users-chatroom {
  width: 80%;
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-chatroom {
    width: 60%;
  }
}

.main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-heading {
  font-size: 0.9rem;
  padding-bottom: 2%;
  color: #7cc5c1;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-heading {
    font-size: 0.7rem;
  }
}

.main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-heading span {
  padding-left: 2%;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-heading span {
    padding-left: 4%;
  }
}

.main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-participant .main-area__user-name {
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-participant .main-area__user-name {
    font-size: 1.2rem;
    padding: 4% 0 4% 2%;
  }
}

.main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-participant .main-area__user-message {
  font-size: 1.2rem;
  font-weight: lighter;
}

@media (max-width: 800px) {
  .main .main__chatbox--container .main__users .main__users-chatroom .main__users-chatroom-participant .main-area__user-message {
    font-size: 1.2rem;
    padding: 0 0 4% 2%;
  }
}

.main .main__chatbox--container .main__users .main__users-chatroom .white {
  padding-left: 2%;
}

.main .main__chatbox--container .main__users .main__users-chatroom .teal {
  background-color: rgba(137, 252, 246, 0.5);
  padding-left: 2%;
}

.main .main__chatbar--container {
  width: 100%;
  height: 10%;
}

.main .main__chatbar--container .main__chatbar-form {
  width: 100%;
  height: 50%;
}

.main .main__chatbar--container .main__chatbar-form .main__chatbar--form-input {
  width: 100%;
  padding-left: 1%;
  font-size: 1.2rem;
}

.main .main__chatbar--container .main__chatbar-form .main__chatbar--form-msg-submit {
  width: 100%;
}

.main .main__chatbar--container .main__chatbar-form input::-webkit-input-placeholder {
  color: #7cc5c1;
  font-size: 1.2rem;
}

.main .main__chatbar--container .main__chatbar-form input:-ms-input-placeholder {
  color: #7cc5c1;
  font-size: 1.2rem;
}

.main .main__chatbar--container .main__chatbar-form input::-ms-input-placeholder {
  color: #7cc5c1;
  font-size: 1.2rem;
}

.main .main__chatbar--container .main__chatbar-form input::placeholder {
  color: #7cc5c1;
  font-size: 1.2rem;
}

.main .main__chatbar--container .main__chatbar-form input {
  max-width: 100%;
  height: 100%;
  text-align: left;
  border: none;
}

.main .main__chatbar--container .main__chatbar-form input:focus {
  outline: 0;
  color: #000;
}

.main .main__chatbar--container .main__chatbar-form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.main .main__chatbar--container .main__chatbar-form input:focus::-moz-input-placeholder {
  opacity: 0;
}

.main .main__chatbar--container .main__chatbar-form button[type="submit"] {
  display: none;
}
/*# sourceMappingURL=styles.css.map */