/* IMPORTS */

@import "_variables.scss";
@import "_mixins.scss";

/* GLOBAL RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {

    .main__login--containter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: $bg-color;
        z-index: 1;
        padding: 8rem;
        
        .main__login--logo-and-form-containers {
            @include displyFlexColumnCenter();
            width: 100vw;
            height: 100vh;
            
            .main__login--logo-container {
                @include displyFlexColumnCenter();
                width: 100vw;
                height: 10vh;
                
                .main__login--logo-text {
                    color: $logo-text-color;
                    font-family: $site-font-family;
                    border-bottom: 1px solid #FFF;
                }
                .main__login--logo-text-handle {
                    font-size: 0.8rem;
                    color: $text-color;
                }
            }

            .main__login--form-container {
                @include displyFlexColumnCenter();
                width: 100vw;
                height: 90vh;
                
                .main__login--slogan {
                    font-family: $site-font-family;
                    font-size: 1rem;
                    font-style: italic;
                    color: $text-color;
                    text-align: center;
                    padding: 2%;
                }

                .main__login--form {
                    
                    button[type="submit"] {
                        display: none;
                    }

                    input::placeholder {
                        color: rgba(255,255,255, 0.9);
                    }

                    input {
                        border: 2px solid #FFF;
                        max-width: 25vw;
                        height: 5vh;
                        background-color: $bg-color;
                        text-align: center;
                        &:focus {
                            outline:0;
                            color: rgba(255,255,255, 0.9);
                        }    
                    }

                }

            }

        }   
    }

    .main__users {
        display: flex;
        justify-content: space-between;
        height: 95vh;
        border-bottom: 1px solid black;

        .main__users-online {
            width: 50%;
            border-right: 1px solid black;
            padding-left: 2%;
        }
        .main__users-chatroom {
            width: 50%;
            padding-left: 2%;
        }       
    }
    .main__chatbar-form {
        width: 100%;
        .main__chatbar--name-input{
            width: 100%;
            padding-left: 1%;
        }
        .main__chatbar--form-input {
            width: 100%;
            padding-left: 1%;
        }
    }
    .main__chatbar--form-msg-submit {
        width: 100%;
    }
}

